# files ignored by git

# project folders
contrib/*/*
bin
eq/*
record*
tests*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake_config.h

# build folder
/build/

# project files
nbproject

# pyhton precompiled files
*.pyc
__pycahce__

# os garbage
.DS_Store

# LaTeX temporary files
*.aux
*.log
*.toc
*.out

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg
*.run.xml
*.bcf

# tempory files 
*.swp
*~

# x files
*.x

# IDE files
*.code-workspace
